@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <style>
        .contenedor-portada {
            justify-content: center;
            display: flex;
        }
        
        .contenedor-portada img {
            width: 100%;
            height: 820px;
        }

        .section {
            padding: 40px 0;
        }

        .Subtitulo {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .contenedor {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }

        .imagen-contenedor {
            width: 23%;
            max-width: 100%;
            margin: 0px 2rem;
        }
        
        .imagen-contenedor img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container contenedor-portada">
        <img src="~/Images/portada.png");" alt="Portada" class="img-Portada">
    </div>
    <section>
        <h4 class="Subtitulo">LA ROPA HABLA POR VOS</h4>
    </section>
</body>
</html>