
@{
    ViewBag.Title = "Log";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logger</title>
</head>
<body>
    <h1>Logger</h1>
    <table class="table">
        <tr>
            <th>Time</th>
            <th>Message</th>
            <th>User</th>
            <th>Criticity</th>
        </tr>
        @foreach (System.Data.DataRow row in MyApp.Services.Logger.GetLogs().Rows)
        {
            <tr>
                <td>@row[2].ToString()</td>
                <td>@row[0].ToString()</td>
                <td>@row[3].ToString()</td>
                <td>@row[1].ToString()</td>
            </tr>
        }
    </table>
</body>
</html>

