<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
</head>
<body>
    <div class="container"> 
        <h1>No tenes permisos flaco!!</h1>
    </div>
</body>
</html>
